* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Quicksand', sans-serif;
  }
  #basket{
      background-color: tomato;
      border-radius: 180px;
  }
header{
 background-color: rgb(211, 224, 251);
}
.card-img-top:hover{
    opacity: 0.4;
}
#itemSearch {
    background-color: rgb(248, 240, 250);
    background-color: rgba(248, 240, 250, 0.678);
}
.btn-outline-new{
    background-color: rgb(211, 224, 251);
}
aside{
    font-size: 17px;
}

#asidelist li{
    background-color: rgb(236, 211, 251);
}
a{
    text-decoration: none;
}
button{
    border-style: none;
    background-color: unset;
}
option{
    background-color: rgb(211, 224, 251);
    color: white;
}
#button-addon2{
    color: white;
    height: 20;
}
#finalBtn{
 background-color: rgba(20, 19, 19, 0.808);
 color: white;
 padding: 25px;
}
.nav-item a{
   color: white;
   font-size: 20px;
   padding: 15px;
   margin-right: 5px;
}

#list{
    background-color: rgba(215, 247, 250, 0.205);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#logo{
    text-align: start;
    font-size: 80px;
    margin: 15px;
}
#logo a{
  text-decoration: none;
}
#delay{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: white;  
}
.newText{
    color: white;  
}
.priceSection{
    background-color: rgb(211, 224, 251);
    color: black;
    font-size: 20px;
    text-align:center;
}