* {
    padding: 0;
    margin: 0;
  }
header{
 background-color: rgb(211, 224, 251);
}
.card-img-top:hover{
    opacity: 0.4;
}
#itemSearch {
    background-color: rgb(248, 240, 250);
    background-color: rgba(248, 240, 250, 0.678);
}
.btn-outline-new{
    background-color: rgb(211, 224, 251);
}
aside{
    font-size: 15px;
}
a{
    text-decoration: none;
}
option{
    background-color: rgb(211, 224, 251);
    color: white;
}
#button-addon2{
    color: white;
    height: 20;
}
body {
    font-family: 'Quicksand', sans-serif;
  }
.nav-item a{
   color: white;
   font-size: 20px;
   padding: 15px;
   margin-right: 5px;
}

#list{
    background-color: rgba(215, 247, 250, 0.205);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#logo{
    text-align: start;
    font-size: 80px;
    margin: 15px;
}
#logo a{
  text-decoration: none;
}
#delay{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: white;  
}
.newText{
    color: white;  
}